  <!-- <p style="margin-left:35px;">Time left</p>
    <span id="days"> {{daysToDday}} </span>Day(s):
    <span id="hours"> {{hoursToDday}} </span>Hrs:
    <span id="minutes"> {{minutesToDday}} </span>Min:
    <span id="seconds" style="margin-right:60px;"> {{secondsToDday}}S</span> -->

    <p style="margin-left:35px;">Time left</p>
    <span id="days"> 0</span>Day(s):
    <span id="hours"> 00</span>Hrs:
    <span id="minutes"> 00</span>Min:
    <span id="seconds" style="margin-right:60px;">00s</span>
