.firsttab{
    width:50%;
    height:100% ;
}
.mystep{
    color:black;
    font-weight: bold;
    font-size: larger;
}
h1{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 30px;
    margin-bottom: 40px;
  }