.example-full-width{
    width:60%;
    height: 80%;
}
.example-button-row{
    width: 98%;
    margin-top: 10%;
   margin-bottom: 3%;
    position: fixed;
  bottom: 0;
  right: -75%;
  top: 69%;
}
.addinfo{
  margin-left: 25%;
}
h1{
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 80px;
  margin-bottom: 30px;
}