.example-stretched-tabs{
    margin-bottom: 20%;
 }
 
 .example-button-row{
     width: 98%;
     margin-top: 15%;
    margin-bottom: 3%;
     display: flex;
   justify-content: flex-end;
 }
 .mat-tab-label{
   font-weight: bolder;
   font-size: larger;
 }