/* Toolbar */
.mat-toolbar {
  background: rgb(78, 78, 78);
  color: rgb(255, 255, 255);
  height: 60px;
  width: 100%;
}

#navbar-brand{
  margin-top: 21px !important;
  margin-left: -5px;
}


/* Image Animation */
.animateimg {
  transition: transform 1.5s ease-in-out;
}
.animateimg:hover {
  cursor: pointer;
  transform: rotateY(360deg);
	transform-origin: center;
	transition: 2.0s ease;
}

/* Main Content */
.login-icon .icons{
  margin-top: 17px;
  margin-bottom: 17px;
}

#login-container1{
  border: 1px white solid;
  background: rgba(78, 78, 78, 0.4);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-top: 14px;
  color: rgba(255, 255, 255, 0.815);
  transform: scale(1);
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 190px;
  bottom: 10%;
}

.login-icon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 25px;
  margin: auto;
  height: 100px;
  background: linear-gradient(#ea7540, rgb(253, 135, 135));;
  width: 25vw;
}
#login-button{
  width: 175px;
}
#login-button:hover{
  background-color: white !important;
  color:#3f51b5;
}


/* Footer */

.example-spacer {
  flex: 1 1 auto;
}

#footer{
  border: 1px solid black;
  padding-top: 5px ;
  padding-bottom: 5px;
  justify-content: center;
  flex-wrap: wrap;
  height: 79px !important;
}

button{
  border: none;
  background-color: rgb(78, 78, 78);
}

#aboutfooter{
  border: 1px solid black !important;
  border-top: none;
  padding-bottom: 5px;
  height: 200px;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.74);
}

.aboutcontainer{
  height: 200px;
  width: 45vw;
}

#footer-Copyright{
  border: 1px solid black;
  border-top: none;
  justify-content: center;
}

#follow-us{
  height: 60px;
}

@media only screen and (max-width: 532px) and (min-width: 441) {
  #follow-us{
    height: 71px !important;
  }
}

@media only screen and (max-width: 848px) {
  #aboutfooter{
    font-size: 16px;
    height: 210px !important;
    align-items: center !important;
  }

}

@media only screen and (max-width: 599px) {
  div.aboutcontainer{
    display: inline-block;
    width: 90vw !important;
    text-align: center;
    align-items: center;
  }

  mat-toolbar.styl{
    text-align: center;
  }

  #aboutfooter{
    height: 340px !important;
    align-items: center !important;
  }

  #contact-number{
    margin-top: 3px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 442px) {
  .fontchange{
    font-size: 4.8vw;
  }

  #aboutfooter{
    height: 388px !important;
  }
}

@media only screen and (max-width: 389px) {
  .fontchange1{
    font-size: 4.9vw;
  }
}

@media only screen and (max-height: 482px) {
  #login-container1{
    bottom: 15%;
  }
}
