
.container {
  height: 200px;
  position: relative;

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.demo-table {
  width: 100%;
}

.downright {
  position: absolute;
  bottom: 100px;
  right: 40px;

}
.tableHeader{
  background-color:dodgerblue;
  font-size: medium;
  justify-content: center;

}
.myIcons {
  cursor: pointer;
  padding: 3px;
}
.mat-column-position
{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-createdOn
{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width:20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/*.mat-column-Actions
{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width:7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;
  justify-content: center;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th {
  text-align: left;
  padding: 15px;
  background-color: rgb(245, 193, 125);
}
td {
  border: 1px solid #dddddd;
}
td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
