
<div>
<div *ngIf="dataSource.filteredData.length > 0; else elseBlock">

      <h2>QuestionGroup-Home </h2>
      <hr>
      <div style="margin-top: 20px;">
       <mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->
          <!-- Position Column -->
          <ng-container matColumnDef="position" >
            <mat-header-cell *matHeaderCellDef class="tableHeader"> SNo. </mat-header-cell>
            <mat-cell class="change" *matCellDef="let element= index " style="font-size: medium;width: 20px" > <b>{{element+1}}</b> </mat-cell>
          </ng-container>


          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="tableHeader"> QuestionGroup Name </mat-header-cell>
            <mat-cell *matCellDef="let element" style="font-size: medium"> <a [routerLink]="['questiongrouphome',element.questionGroupId]" style="text-decoration: none">{{element.name}}</a>
              <router-outlet></router-outlet>
            </mat-cell>

          </ng-container>


          <ng-container matColumnDef="createdOn" >
            <mat-header-cell *matHeaderCellDef class="tableHeader"> Created On </mat-header-cell>
            <mat-cell *matCellDef="let element" style="font-size: medium"> {{element.createdOn}} </mat-cell>
          </ng-container>

          <!--<ng-container matColumnDef="Actions" >
            <mat-header-cell *matHeaderCellDef class="tableHeader"> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element"><mat-icon class="myIcons" matTooltip="Edit" (click)="updateDialog(element)">edit</mat-icon></mat-cell>
          </ng-container>-->



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


      </div>
      <div class="downright" >
        <button mat-fab  style="background-color:#f7703f" title="Click to ADD QuestionGroup"
                (click)="openDialog()">
          <mat-icon >add</mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>

</div>
  <ng-template #elseBlock>
    <div>
      <h2>QuestionGroup-Home </h2>
      <hr>
      <br> <br><br>
      <div>
        <h2 style="text-align: center">Create Your First QuestionGroup</h2>
      </div>
      <br>
      <br>
      <br>
      <div class="container">
        <div class="center" >
          <button mat-fab  style="background-color:#f7703f; height: 130px;width: 130px" title="Click to ADD QuestionGroup"
                  (click)="openDialog()">
            <mat-icon style="font-size: 30px; text-align:center">add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-template>

</div>
