<!-- <p>request works!</p> -->
<div>
    <h2>Request </h2>
    <hr>
    <mat-card class="example-card">
        <div>
      <label for="request">I would like to become a      </label>
     <select name="request" id="fetures">

  <option value="ASSESSOR">ASSESSOR</option>
  <option value="CUSTODIAN">CUSTODIAN</option>
</select>
  </div>
  <br><br>
    <h3><strong>Description</strong></h3>
    <textarea id="Description" name="description" rows="4" cols="50">
        </textarea>
    <br><br>
    <button mat-raised-button (click)="openDialog()" Style="margin-left:80%" color="primary">Submit</button>
</mat-card>
    </div>
    
