.addquestion{
        margin-top: 20px;
        width: 48%;
        margin-left: 40px;
}
.add{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
}
.show{
        width:95%;
}
.texts{
        display: flex;
        flex-direction: row;
}
.example-margin{
        position: absolute;
        
}