table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th {
  text-align: left;
  padding: 15px;
  background-color: blue;
  color:white;
}
td {
  border: 1px solid #dddddd;
}
td {
  text-align: left;
  padding: 8px;
} 
.example-button-row{
  width: 98%;
  margin-top: 15%;
 margin-bottom: 3%;
  display: flex;
justify-content: flex-end;
}

tr:nth-child(even) {
  background-color: #dddddd;
}